.sudoku-board-cell:nth-of-type(6n+1){
  border-left-width: 2px;
  border-left-color: #5A5A5A;
}
.sudoku-board-cell:nth-of-type(n):nth-of-type(-n+6){
  border-top-width: 2px;
  border-top-color: #5A5A5A;
}
.sudoku-board-cell:nth-of-type(2n){
  border-right-width: 2px;
  border-right-color: #5A5A5A;
}

.sudoku-board-cell:nth-of-type(n+13):nth-of-type(-n+18),
.sudoku-board-cell:nth-of-type(n+31):nth-of-type(-n+36) {
  border-bottom-width: 2px;
  border-bottom-color: #5A5A5A;
}

.sudoku-board-cell .highlight-val {
  color: #00d;
}
/*highligt incorrect input*/
.sudoku-board-cell .board-cell--error {
  background: #d00;
  color: #eee;
}